<div >
  <app-new-messages></app-new-messages>
</div>

<div>
  <h1 class="h1">Messages</h1>
</div>
<div fxLayout="column" fxLayoutGap="16px grid">
  <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let message of messages; let i = index">
    <mat-card>
      <mat-card-title>{{ i + 1}} {{ message.author }}</mat-card-title>
      <mat-card-content>
        <p>{{ message.message }}</p>
      </mat-card-content>
      <mat-card-footer>
        <p>{{ message.datetime }}</p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
