<h1>New message</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
        <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input type="text" required name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea
          name="message"
          ngModel
          required
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Create</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

